<div
  class="about-section d-flex justify-content-center align-content-center align-items-center"
>
  <div class="about">
    <app-star [title]="'about component'" [customColor]="'white'"></app-star>
    <div class="container">
      <div class="row px-5">
        <div class="col-md-6 ps-5">
          <p class="text-white">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
        <div class="col-md-6 ps-5">
          <div class="text-white">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
